{% extends 'base/base.html' %}
{% load static %}

{% block title %}Video Info Bot{% endblock %}

{% block maincontent %}

<div class="container pt-1">
    <section>
        <div class="container py-5">
            <div class="title text-center"><h3>Video Info Online</h3> <h6>We provide your info related to your video.</h6></div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-6">
      
              <div class="card" id="chat1" style="border-radius: 15px;">
                <div
                  class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
                  style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                  <i class="fas fa-angle-left"></i>
                  <p class="mb-0 fw-bold">Live chat</p>
                  <i class="fas fa-times"></i>
                </div>
                <div class="card-body">
      
                  <div class="d-flex flex-row justify-content-start mb-4">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                      alt="avatar 1" style="width: 45px; height: 100%;">
                    <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                      <p class="small mb-0">Hello and thank you for visiting video info bot, how my help you.</p>
                    </div>
                  </div>
      
                  <div class="d-flex flex-row justify-content-end mb-4">
                    <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                      <p class="small mb-0">Thank you, I want to get info related to my video.</p>
                    </div>
                    
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                      alt="avatar 1" style="width: 45px; height: 100%;">
                  </div>
      
                  <div class="d-flex flex-row justify-content-start mb-4">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                      alt="avatar 1" style="width: 45px; height: 100%;">
                    <div class="ms-3" style="border-radius: 15px;">
                      <div class="bg-image">
                        <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                          <p class="small mb-0">Ok please upload your video and submit.</p>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="d-flex flex-row justify-content-start mb-4">
                    <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">

                        <form method="post" action="{% url 'index' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p class="small mb-0">
                                <input type="file" class="form-control" name="customFile" id="customFile" required/>
                            </p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end btn-sm pt-1">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </form>
                       
                  </div>
                  
                </div>
                <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                    <p class="small mb-0">
                        {% for video_list in  items %}
                        {{video_list}},
                        {% endfor %}
                    </p>
                  </div>
                <div class="form-outline py-1">
                    <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                    <label class="form-label" for="textAreaExample">Type your message</label>
                  </div>
              </div>
      
            </div>
          </div>
      
        </div>
      </section>


  </div>
   


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>



<script>
    $(document).ready(function() {
        console.log("Initializing DataTables...");
        $('#employee-table').DataTable();
    });
</script>



{% endblock %}
